# Ignore node_modules if you use npm
node_modules/

# Ignore log files
*.log

# Ignore build/output folders (if you have any)
dist/
utils/
build/
config/
simulation/

# Ignore OS or editor files
.DS_Store
Thumbs.db

# Ignore environment config files if any
.env

# Data files
*.csv
